body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


#docs-navbar{
	margin-top:50px;
}


.wrapper,#container{
	width: 970px;
	margin: 0 auto;
}

.demo li {
    list-style-type: none;
    display: inline-block;
}
li img {
    height: 200px;
    border: 5px solid #999;
    margin: 5px;
}

.highlight{
	overflow: auto;
}

.heart{
	color: red;
}

