.wrapper {
    margin: 0 auto;
    width: 80%;
    background-color:#ddd;
}
li {
    list-style-type: none;
    display: inline-block;
}
img {
    height: 200px;
   /*width: 100%;*/
   border:5px solid #999;
   margin: 10px;
}