html,body{
	width: 100%;
	margin: 0;
	font-family: 'arial';
	color: rgb(18,53,85);
}
div.wrapper{
	min-width: 800px;
	width: 90%;
	margin: 50px auto;
	top: 0;
	left: 0;
}
.code{
	text-align: left;
	padding: 5px;
	margin: 50 auto;
	color: white;
	overflow: auto;
}
.block_item{
	 width: 250px;
    height: 150px;
    border: 1px solid #09c;
    box-shadow: 0 0 2px rgba(0, 200, 204, 0.7);
}
div#sliphover_share{
	position: absolute;
	right: 5px;
	top:7px;
}
nav	{
	position: fixed;
	top: 0;
	width: 100%;
	background-color: rgb(20,68,106);
	z-index: 999;
}
nav ul{
	margin: 8px 20px;
}
nav li{
	display: inline-block;
	margin-right: 15px;
}
nav li a{
	color: rgb(227,230,195);
	text-decoration: none;
}
nav li a:hover{
	color: rgb(230,180,80);
}
div#container{
	width: 800px;
	margin: 0 auto;
	padding: 50px;
}
div#container ul{
	padding: 0;
}
div#container li{
	display: inline-block;
}
div#tutorial{
}
div#doc{
}
table.options_table{
    border-collapse: collapse;
}
table.options_table th{
    background-color: #f9f9f9;
}
table.options_table td,table.options_table th{
    border: 1px solid #EDEDED;
    padding: 5px;
}

table.options_table tr:nth-child(odd){
    background-color: #fdfdfd;
}
span.value{
	color: green;
}
div#container img{
	width: 250px;
	height: 150px;
	border: 5px solid #777;
}
footer{
	text-align: center;
	width: 100%;
	margin: 10px 0;
}
footer a{
	color: #555;
	padding: 5px;
}